@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Thin'), url(../font/Paperlogy/Paperlogy-1Thin.ttf) format('woff');
    font-style: normal;
    font-weight: 100;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy ExtraLight'), url(../font/Paperlogy/Paperlogy-2ExtraLight.ttf) format('woff');
    font-style: normal;
    font-weight: 200;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Light'), url(../font/Paperlogy/Paperlogy-3Light.ttf) format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Regular'), url(../font/Paperlogy/Paperlogy-4Regular.ttf) format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Medium'), url(../font/Paperlogy/Paperlogy-5Medium.ttf) format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Semibold'), url(../font/Paperlogy/Paperlogy-6Semibold.ttf) format('woff');
    font-style: normal;
    font-weight: 600;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Bold'), url(../font/Paperlogy/Paperlogy-7Bold.ttf) format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy ExtraBold'), url(../font/Paperlogy/Paperlogy-8ExtraBold.ttf) format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: block;
}

@font-face {
    font-family: 'Paperlogy';
    src: local('Paperlogy Black'), url(../font/Paperlogy/Paperlogy-9Black.ttf) format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: block;
}
